/*--RESET--*/
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
/*--GENERAL--*/
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.big-container{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.default-container{
    width: 60%;
    height: 100%;
    margin: 0 auto;
}
/*--BODY--*/
body{
    font-family: 'Open Sans', sans-serif;
}
/*--HEADER--*/
header section.nav{
    width: 100%;
    height: 80px;
    background-color: white;
    justify-content: space-between;
}
nav.main-nav ul li{
    margin: 0 1.5rem;
    display: inline-block;
    cursor: pointer;
    font-size: 1.1rem;
    opacity: 100%;
}
nav.main-nav ul li:hover{
    margin: 0 1.5rem;
    display: inline-block;
    cursor: pointer;
    font-size: 1.1rem;
    opacity:70%;
}
.left-nav-content{
    margin-left: 1.5rem;
}
.right-nav-content{
    margin-right: 1.5rem;
}
/*-BUTTON-*/
button{
    font-size: 1rem;
    opacity:100%;
    cursor: pointer;
}
button:hover{
    opacity:70%;
    }
#button-white{
    border: none;
    background-color: white;
    padding: 0.5rem;
}
#button-blue{
    border:none;
    background-color: #0061ff;
    color: white;
    padding: 0.5rem;
}
/*--JUMBO SECTION--*/
header section.jumbo{
    width: 100%;
    height: 82.5vh;
    background-color: #b4d0e7;
    padding: 0 4rem 2rem;
}
section.jumbo h1{
    font-size: 4.5rem;
    position: relative;
    top:20%;
    left:4%;
}
div.jumbo-text{
    width: 40%;
    padding: 4rem;
}
div.jumbo-text p{
    font-size: 1.1rem;
    margin: 8.5rem auto;
}
div.jumbo-button{
    width: 30vh;
    display: flex;
    flex-direction: column; 
}
.button-blue{
    border:none;
    background-color: #0061ff;
    color: white;
    padding: 1rem;
    margin-top: -4.5rem;
    margin-left: 0;
    cursor: pointer;
}
.button-default{
    border: none;
    background-color: #b4d0e7;
    padding: 0.6rem;
    margin: 0 auto;
    margin-left: 0;
    margin-right: 0.6rem;
    margin-top: 1rem;
    cursor: pointer;
}
div.arrow-down{
    position: absolute;
    bottom: -5%;
    left: 5%;
    font-size: 3.5rem;

}
div.jumbo-img{
    width: 800px;
    height: 370px;
    position: absolute;
    bottom: -10px;
    right: 0; 
}
div.jumbo-img>img{
    width: 100%;
}
/*--MAIN--*/
main{
    margin-top: 5rem;
}
/*-BUSSINESS PLAN --*/
section.bussiness-plan{
    width: 100%;
    height: 90%;
    padding: 5rem 0 2.5rem 0;
}
section.bussiness-plan h2{
    font-size: 2.5rem;
}
div.time-plan{
    margin: 2rem 0;
    display: flex;
}
div.time-plan div.time-plan-annual{
    margin-left: 2rem;
}
/*--BOX--*/
div.box-plan-general{
    width: 100%;
    display: flex;
}
div.box-business-plan{
    width: calc((100% / 3) - 0.5rem);
    height: 700px;
    margin: 0.5rem;
    border: 1px solid lightgrey;
}
div.box-business-plan span{
    display: block;
    margin-top: 0.5rem;
}
div.title-box-plan{
    height: 5%;
    width: 100%;
    border-bottom: 1px solid lightgrey;
}
div.text-box{
    padding: 0.5rem .5rem;
}
div.text-box span.price{
    margin: .8rem 0;
    font-weight: bolder;
}
div.text-box span.duration{
    color: grey;
}
.button-blue-box{
    border:none;
    background-color: #0061ff;
    color: white;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0.5rem;
    cursor: pointer;
}
div.separator-box-bussiness-plan{
    width: 20%;
    height: 1px;
    background-color: grey;
    margin: 2rem 0;
}
span.highlight{
    font-size: 0.9rem;
    margin: 1rem 0;
}
#blue-check{
    color:#0061ff;
}
/*--TEAM--*/
section.team{
    width: 100%;
    height: auto;
    padding: 4rem 0;
}
div.box-team{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    padding: 1rem;
}
div.team-info-section{
    height: 20%;
    width: 100%;
    display: flex;
    padding: 2rem 1rem;
    border: 1px solid lightgrey;
}
section.left-team-info{
    width: 75%;
    height: 100%;
}
section.left-team-info span{
    display: block;
    margin: 0.5rem 0 3rem;
    font-weight: bold;
}
div.right-team-button{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content:center;
}
#blue-team-button{
    border:none;
    background-color: #0061ff;
    color: white;
    padding: 0.6rem;
    cursor: pointer;
}
/*--PARTNER--*/
section.partner{
    min-height: 450px;
    max-height: 560px;
    height: 100vh;
    padding: 5rem 0;
}
div.left-partner-img{
    width: 55%;
    height: 100%;
    background-image: url(img/partner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
div.right-partner-text{
    width: 45%;
    height: 100%;
    padding: 1rem;
    margin-top: 6rem;
}
div.right-partner-text p{
    margin: 2rem 0;
}
div.right-partner-text button{
    margin-top: 0.8rem;
}
.button-white{
    background-color: white;
    border: 1px solid black;
    padding: 0.8rem;
    cursor: pointer;
}
/*--BUSSINESS FEATURES--*/
section.business-features{
    width: 100%;
    height: auto;
    padding: 3rem 0;
    background-color: white;
}
section.business-features h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}
div.business-features-row{
    width: 100%;
    height: auto;
    padding-top: 1rem;
}
article.business-features-card{
    width: calc((100% / 3) - .4rem);
    height: 450px;
    margin: 0 .4rem;;
}
div.business-features-card-box-img{
    width: 100%;
    height: 55%;
}
div.business-features-card-box-img img{ 
    height: 100%;
}
div.business-features-card-box-text{
    width: 100%;
    height: auto;
}
div.business-features-card-box-text h3{
    font-size: 1.2rem;
}
div.business-features-card-box-text p{
    margin-top: 1rem;
    font-size: 1rem;
}
/*--USERS--*/
section.users{
    width: 100%;
    padding: 3rem 0 6rem;
}
section.users h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}
/*--COMPANY PARTNERS--*/
section.company-partner{
    width: 100%;
    height: auto;
}
div.company-partner-description{
    width: 30%;
    height: 100%;
}
div.company-partner-square{
    width: calc(100vw/ 3);
    height: calc(100vw/ 3);
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f5f5;
}
div.company-partner-square-box{
    width: calc(100% / 2);
    height: calc(100% / 2);
}
div.company-partner-square-box img{
    width: 60%;
    filter: invert();
}
/*--CENTER BOX--*/
div.comprany-partner-square-center-text{
    padding: 2rem;
    flex-direction: column;
}
div.comprany-partner-square-center-text img{
    width: 40%;
}
div.comprany-partner-square-center-text p{
    margin:1rem 0 3rem;
}
/*--PARTNER BOXES ID BG COLOR --*/
#designit{
    background-color: #a2d39b;
    border: 10px solid #D1E9CD;
}
#asu{
    background-color: #61082b;
}
#uni-florida{
    background-color: #0093ce;
}
#topps{
    background-color: #ff1c1c;
}
#world-bicycle{
    background-color: #d5001f;
}
#hearst-corp{
    background-color: #b4d0e7;
}
#lonely-planet{
    background-color: #0d2481;
}
#clear-channel{
    background-color: #ffd830;
}
/*--TRY DROPBOX--*/
section.try-dropbox{
    width: 100%;
    padding: 8rem 0;
    background-color: #b4d0e7;
}
section.try-dropbox h2{
    font-size: 2rem;
    color: #61082b;
}
div.try-dropbox-left{
    width: 60%;
    height: auto;
    padding: 1rem;
}
div.try-dropbox-right{
    width: 40%;
    height: auto;
}
/*--FAQ--*/
section.faq{
    width: 100%;
    padding: 5rem 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
section.faq h2{
    font-size: 2rem;
    padding-bottom: 1.5rem;
}
div.faq-section{
    margin-top: 2rem;
    border-top: 1px solid lightgray;
}
div.faq-section-bar{
    padding: 2rem 0;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    justify-content: space-between;
}
div.faq-section-bar span{
    font-size: 1rem;
    font-weight: bold;
}
/*--FOOTER--*/
footer{
    padding: 2rem;
    background-color: black;
    color: white;
}
section.top-footer{
    width: 100%;
    height: 45%;
    margin-bottom: 3rem;
}
nav.footer-nav h3{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
nav.footer-nav ul li{
    list-style: none;
    margin-bottom: 1rem;
    font-size: 1rem;
}
nav.footer-nav ul li a{
    text-decoration: none;
    color: white;
}
.separator-line{
    width: 10%;
    height: 2px;
    background-color: grey;
    margin: 2rem 20rem;
}
section.bottom-footer{
    padding: 1.5rem;
}
section.bottom-footer span.language{
    color: grey;
    font-size: 1rem;
    cursor: pointer;
    margin: 2rem 18.5rem;
}