/*--RESET--*/
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
/*--GENERAL--*/
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.big-container{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid orange;
    position: relative;
}
.default-container{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid red;
}
/*--BODY--*/
body{
    font-family: 'Open Sans', sans-serif;
}
/*--HEADER--*/
header section.nav{
    width: 100%;
    height: 80px;
    background-color: white;
    justify-content: space-between;
}
nav.main-nav ul li{
    margin: 0 1.5rem;
    display: inline-block;
}
/*--JUMBO SECTION--*/
header section.jumbo{
    width: 100%;
    height: 80vh;
    background-color: #b4d0e7;
}
div.jumbo-img{
    width: 600px;
    height: 350px;
    position: absolute;
    bottom: -30px;
    right: 0; 
    background-color: rgb(128, 101, 27);
}
/*--MAIN--*/
main{
    margin-top: 10vh;
}
/*-BUSSINESS PLAN CARDS--*/
section.bussiness-plan{
    width: 100%;
    height: 120vh;
    background-color: lightgrey;
    padding: 5rem 0 2.5rem 0;
}
div.box-plan-general{
    width: 100%;
    height: 100%;
    display: flex;
}
div.box-business-plan{
    width: calc((100% / 3) - .3rem);
    height: 80%;
    background-color: #b4d0e7;
    margin: 0.3rem;
}
div.title-box-plan{
    height: 5%;
    width: 100%;
    background-color: deeppink;
}
/*--PLAN--*/
section.team{
    width: 100%;
    height: 50vh;
    padding: 3rem 0;
}
div.box-team{
    height: 100%;
    width: 100%;
    background-color: #b4d0e7;
}
div.title-team{
    height: 20%;
    width: 100%;
    background-color: deeppink;
}
/*--PARTNER--*/
section.partner{
    height: 90vh;
    padding: 5rem 0;
    background-color: lightgray;
}
div.left-partner-img{
    width: 50%;
    height: 100%;
    background-color:rgb(128, 101, 27);
}
div.right-partner-text{
    width: 50%;
    height: 100%;
    background-color: #b4d0e7;
}
/*--BUSSINESS FEATURES--*/
section.business-features{
    width: 100%;
    height: auto;
    padding: 5rem 0;
    background-color: white;
}
div.business-features-row{
    width: 100%;
    border: 1px solid blue;
    padding-top: 1rem;
}
article.business-features-card{
    width: calc((100% / 3) - .4rem);
    height: 350px;

    margin: 0 .4rem;
    background-color: #b4d0e7;
}
div.business-features-card-box-img{
    width: 100%;
    height: 40%;
    background-color: rgb(128, 101, 27);
}
div.business-features-card-box-text{
    width: 100%;
    height: 60%;
    background-color: grey;
}
/*--USERS--*/
section.users{
    width: 100%;
    height: 40vh;
    padding: 3rem 0;
}
/*--COMPANY PARTNERS--*/
section.company-partner{
    width: 100%;
    height: 70vh;
}
div.company-partner-description{
    width: 30%;
    height: 100%;
    background-color: lightgrey;
}
div.company-partner-square{
    width: 35%;
    height: 100%;
    background-color: crimson;
    display: flex;
    flex-wrap: wrap;
}
div.company-partner-square-box{
    width: calc(100% / 2);
    height: calc(100% / 2);
    background-color: orange;
    border: 1px solid black;
}
/*--TRY DROPBOX--*/
section.try-dropbox{
    width: 100%;
    height: 40vh;
    padding: 3rem 0;
    background-color: #b4d0e7;
}
/*--FAQ--*/
section.faq{
    width: 100%;
    height: 70vh;
    padding: 3rem 0;
}
div.faq-section{
    margin-top: 3rem;
}
div.faq-section span {
    display: block;
    padding: 2rem 0;
    border-top: 1px solid black;
    /*border-bottom: 1px solid black; guarda appunto su html*/
}